@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

.names {
  display: flex;
}

.container {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 12px;
  font-family: "Karla", sans-serif;
  font-size: 16px;
}
h2 {
  font-weight: 700;
}

.name {
  padding: 10px;
  margin-right: 8px;
  margin-top: 8px;
  border-radius: 4px;
  border: 1px solid;
}

.input_error,
.name:invalid {
  border: 1px solid red;
  padding: 10px;
  margin-right: 8px;
  margin-top: 8px;
  border-radius: 4px;
}

label {
  margin-top: 8px;
  font-weight: 400;
}

.error_message {
  color: red;
  font-size: 12px;
  margin-top: 1px;
  margin-bottom: 0;
}

.email_input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 8px;
  border: 1px solid;
  border-radius: 4px;
}

.email_error {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 8px;
  border: 1px solid red;
  border-radius: 4px;
}

.email,
.querytype,
.textarea {
  margin-top: 10px;
}
span {
  color: #0c7d69;
}

button {
  padding: 10px;
  background-color: #0c7d69;
  width: 100%;
  border: none;
  border-radius: 4px;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.radio_buttons {
  display: flex;
}

.radio_buttons > label {
  border: 1px solid;
  padding: 10px;
  border-radius: 4px;
  margin-right: 8px;
  width: 50%;
  display: flex;
  align-items: center;
}

.consent {
  margin: 20px 0;
}
.flex_check {
  display: flex;
  align-items: center;
}

.flex_check > label {
  margin: 0;
  margin-left: 10px;
}

input[type="checkbox"],
input[type="radio"] {
  accent-color: #147e69; /* Custom color */
}

@media (max-width: 600px) {
  .container {
    margin-top: 10px;
  }
  .name {
    width: 100%;
    box-sizing: border-box;
  }

  .input_error {
    width: 100%;
    box-sizing: border-box;
  }

  .names {
    display: flex;
    flex-direction: column;
  }

  .radio_buttons > label {
    width: 100%;
    box-sizing: border-box;
  }

  .radio_buttons {
    display: flex;
    flex-direction: column;
  }

  .textarea textarea {
    height: 200px;
  }

  body {
  }
}
